<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
      <div>
        © <script>
        document.write(new Date().getFullYear())

        </script> <span class="fw-medium">Health360</span>
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="/" class="footer-link me-4" target="_blank">Website</a>
        <a href="{% url  'index' %}" class="footer-link me-4">About Us</a>
        <a href="{% url 'index' %}" class="footer-link me-4">FAQ</a>
        <a href="{%  url 'index' %}"  class="footer-link d-none d-sm-inline-block">Home</a>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
